
    services:
      db:
        image: postgres:15
        restart: unless-stopped
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 1234
          POSTGRES_DB: irbags_localDB
        ports:
          - "5433:5432"
        volumes:
          - pgdata:/var/lib/postgresql/data
        networks:
          - irbags_net

      api:
        build:
          context: .
          dockerfile: Dockerfile
        restart: unless-stopped
        depends_on:
          - db
        environment:
          Host: db
          Port: 5432
          Database: irbags_localDB
          Username: postgres
          Password: 1234
          ASPNETCORE_ENVIRONMENT: Development
        ports:
          - "5000:8080"
        networks:
          - irbags_net

    volumes:
      pgdata:

    networks:
      irbags_net:
        driver: bridge
