@import "tailwindcss";
@import "@irbags/ui-kit";

@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue";
}

::-webkit-scrollbar {
  width: 0;
}

#__nuxt {
  @apply max-md:*:hidden max-md:h-screen max-md:flex max-md:items-center max-md:justify-center;
}

#__nuxt::after {
  @apply md:hidden content-['опа,_так_не_работает'] font-medium text-xl leading-none text-center;
}
