@import "tailwindcss";
@import "@irbags/ui-kit";

@theme {
  --breakpoint-lg: calc(1440/16 * 1rem);

  /* отступы для 1920px */
  --spacing-220: 13rem;
  --spacing-40: 1.2rem;

  /* отступы для 1440px */
  --spacing-145: 9rem;
  --spacing-30: 1.8rem;
}

:root {
  @apply h-full flex flex-col;
  @apply text-[calc((16/(375/100))*1vw)];
  @apply md:text-[calc((16/(1440/100))*1vw)];
  @apply lg:text-[calc((16/(1920/100))*1vw)];
}

::-webkit-scrollbar {
  width: 0;
}

#__nuxt {
  @apply max-md:*:hidden max-md:h-screen max-md:flex max-md:items-center max-md:justify-center;
}

#__nuxt::after {
  @apply md:hidden content-['опа,_так_не_работает'] font-medium text-xl leading-none text-center;
}
