@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --error: #ff2a2a;
  --ui-text-inverted: #000000;
  --ui-color-tahiti-500: red;
}


@theme static {
  /* --color-secondary-50: #EFFDF5;
  --color-secondary-100: #D9FBE8;
  --color-secondary-200: #B3F5D1;
  --color-secondary-300: #75EDAE;
  --color-secondary-400: #00DC82; */
  --color-jbabsgdkgdsajk-500: #DADADA;
  --color-fdjfjlkdfjsl-500: #000;
  /* --color-secondary-600: #00A155;
  --color-secondary-700: #007F45;
  --color-secondary-800: #016538;
  --color-secondary-900: #0A5331;
  --color-secondary-950: #052E16; */
}
